.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #5f696e6a; /* Adjust background color as needed */
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-link {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
  margin: 0 10px;
  font-weight: bolder;
  border-radius: 3px;
}

.navbar-link:hover {
  background-color: #e6e6e600;
  text-decoration: underline;
}

.logo {
  width: 60px;
  height: auto;
  object-fit: cover;
  margin-right: 0px;
}
